<!DOCTYPE html>
<html lang="ko" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div>
    <div class="logo bg-green-300 h-[5vh]"><a href="/">logo</a></div>
    <div class="flex h-[95vh] p-1">
        <div class="left flex flex-col items-center justify-between bg-red-500 w-[15%]">
            <ul class="w-[100%] overflow-auto">
                <li th:class="${selectedNotebook.id == notebook.id ? 'bg-blue-600' : ''}" th:each="notebook : ${notebookList}">
                    <a class="block p-2" th:href="@{|/books/${notebook.id}/notes|}" th:text="${notebook.name}"></a>
                </li>
            </ul>
            <form th:action="@{|/books/write|}" method="post">
                <input class="btn btn-sm btn-info" type="submit" value="추가"/>
            </form>
        </div>
        <div class="left flex flex-col items-center justify-between bg-red-300 w-[15%]">
            <ul class="w-[100%] overflow-auto">
                <li th:class="${selectedNote.id == note.id ? 'bg-blue-600' : ''}" th:each="note : ${noteList}">
                    <a class="block p-2" th:href="@{|/books/${note.parent.id}/notes/${note.id}|}" th:text="${note.title}"></a>
                </li>
            </ul>
            <form th:action="@{|/books/${selectedNotebook.id}/notes/write|}" method="post">
                <input class="btn btn-sm btn-info" type="submit" value="추가"/>
            </form>
        </div>
        <div class="right bg-blue-300 w-[85%] p-3">
            <form class="flex flex-col gap-2" th:action="@{|/books/${selectedNotebook.id}/modify/${selectedNote.id}|}" method="post" id="detail-form">
                <input class="p-2" type="text" name="title" th:value="${selectedNote.getTitle()}">
                <textarea class="p-2" rows="10" name="content" th:text="${selectedNote.getContent()}"></textarea>
            </form>
            <form th:action="@{|/books/${selectedNotebook.id}/notes/delete/${selectedNote.id}|}" method="post" id="delete-form">
            </form>
            <div class="pt-[10px]">
                <input type="button" value="수정" class="btn btn-sm btn-success" onclick="updateNote();">
                <input type="button" value="삭제" class="btn btn-sm btn-error" onclick="deleteNote();">
            </div>
        </div>
    </div>
</div>
<script>
    function updateNote() {
        const detailForm = document.querySelector("#detail-form");
        if (confirm("수정하시겠습니까?")) {
            detailForm.submit();
        }
    }

    function deleteNote() {
        const deleteForm = document.querySelector("#delete-form");
        if(confirm("정말 삭제하시겠습니까?")) {
            deleteForm.submit();
        }
    }
</script>
</body>
</html>